.viewport-container {
  float: left;
  position: relative;
  border: var(--viewport-border-thickness) solid var(--ui-border-color);
}

.viewport-container.active {
  border: var(--viewport-border-thickness) solid var(--active-color);
}

.non-diagnostic-usage {
  text-align: center;
  width: 100%;
  color: rgba(255, 0, 0, .6);
  font-weight: bold;
  bottom: 0;
  padding: auto 2px;
  position: absolute;
  pointer-events: none;
  user-select: none;
}
